html {
    height: 100%;
}

body {
    background-color: green;
    height: 100%;
    margin: 0;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game {
    width: 80%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dealer, .player {
    width: 50%;
    height: 40%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.side {
    height: 100%;
    width: 20%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.deck {
    background-image: url("Multimedia/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10%;
}

.card {
    width: 120px;
    height: 150px;
    background-image: url("Multimedia/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2%;
}

.result {
    background-color: grey;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

button {
    font-size: large;
}






  
    
